body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  padding: 40px;
}

h1 {
  font-size: 60px;
  color: #3b82f6;
}

h2 {
  color: #60a5fa;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
}
